<div>
    <div>
        <app-header></app-header>
    </div>
    <div>
        <app-iteration-count></app-iteration-count>
    </div>
    <div class="door-box">
        <div *ngFor="let door of doors">
            <app-door [type]="door.type" [action]="door.status" [doorNo]="door.id" (onClicked)="onDoorClicked($event)"></app-door>
        </div>
    </div>
    <div>
        <app-iteration-details></app-iteration-details>
    </div>
    <div>
        <app-simulation-input (onPlayClicked)="onInputPlayClick($event)"></app-simulation-input>
    </div>
    <div>
        <app-simulation-output [carWinPercentage]="10"></app-simulation-output>
    </div>
</div>