<div class="bg">
  <div class="main">
    <div>
      <app-header></app-header>
    </div>
    <div>
      <app-iteration-count [iterationNo]="iterationNo"></app-iteration-count>
    </div>
    <div class="door-box">
      <div *ngFor="let door of doors">
        <app-door
          [type]="door.type"
          [action]="door.status"
          [doorNo]="door.id"
          (onClicked)="onDoorClicked($event)"
        ></app-door>
      </div>
    </div>
    <div class="">
      <app-iteration-details
        [type]="wonType"
      ></app-iteration-details>
    </div>
    <div>
      <app-simulation-input
        [userSelection]="userSelection"
        (onPlayClicked)="onInputPlayClick($event)"
      ></app-simulation-input>
    </div>
    <div>
      <app-simulation-output
        [carWinPercentage]="carWinPercentage"
        [goatWinPercentage]="goatWinPercentage"
      ></app-simulation-output>
    </div>
  </div>
</div>
